#formLogin form{
    width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

#formLogin form label {
    width:90px;
	font-weight:bold;
	display:inline-block;
}

#formLogin form input[type="text"],
form input[type="password"]{
	width:180px;
	padding:5px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

#formLogin form button[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

#formLogin form button[type="submit"]:hover{
	cursor:pointer;
}
  
